.base {
  width: 100%;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  height: 3.5rem;
  display: block;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}